
.git/
.github/
.gitignore

vendor/
dev/
build/
tmp/
**/proto/gen/py*
.scripts/

.dockerignore
Dockerfile*

.env*
*.toml
*.out
*.md
*.yml
*.yaml

.vscode/
.idea/

coverage.html
coverage.txt

install-dev-bins.sh

.DS_Store
__debug_bin